body {
    background-color: lavender;
}
/*CSS is composed of style rules that the browser interprets and then applies to the corrisponding elements in your document. A style
rule has three parts: selector, property and value. For body (above): "body" is the selector, "background-color" is the property and 
"lavender" is the value. Thee selestor points to the HTML element you want to style*/

h1 {
    color: white;
    background-color:black;
    margin: 0;
    font-size: 220%;
    line-height: 60px; /*specifica l'inzio della linea di testo: l'ho messa al centro in altezza rispetto alla box*/
}

nav{
    color: blue;
}

/* # sta a indicare un id, cioè uno stile assegnabile a un oggetto; ID SELECTORS:*/

#main-container{
    margin:0 auto;
    padding:0;
}

#box{
    height:60px;
    background-color:black;
}

/* . sta a indicare una classe, si assegna con class = nome dato dopo il punto. The class selector work in a similar way  of id ones.
The major difference is that IDs can only be applied once per page, while classes can be usd as many times on a page as needed. 
CLASS SELECTORS:*/

.section{
    padding:15px;
    margin-bottom:10px;
    border-radius: 10px; /*raggio con cui vengono arrotondati gli spigoli*/

}

.structural {
    position:absolute;
    left:-9999px;
}


